<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="LogDestination" value="Console,File,Database" />
        <add key="FileDirectory" value="PUT_YOUR_PATH_HERE" />
        <add key="ConnectionString" value="PUT_YOUR_SERVER_HERE" />
        <add key="LogTable" value="Logging" />
    </appSettings>
</configuration>